MONGO_URI=mongodb+srv://<mongodb-user>:<mongodb-passsord>@<mongodb-cluster>.mongodb.net/

PRIVATE_ACCESS_TOKEN=<HASH-TOKEN> # sha-512
PUBLIC_ACCESS_TOKEN=<HASH-TOKEN> # sha-256

FIREBASE_CREDENTIALS_BASE64=string
FIREBASE_STORAGE_BUCKET=string

SECRET=<JWT-SECRET> 
PRODUCTION=false
PORT=1000

EMAIL_HOST=string
EMAIL_PORT=string
EMAIL_USER=string
EMAIL_PASS=string
EMAIL_FROM=string

ALLOWED_ORIGINS=http://localhost:3000,https://yourdomain.com
MORGAN_FORMAT=":method :url :status :res[content-length] bytes - :response-time ms | :remote-addr | :user-agent"